.tc-feature-bcg {
  margin: 0;
  padding: 0;
  background: #d3dbba;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
}

.logoImage1 {
  float: left;
  height: 60px;
  width: auto;
  margin-top: 3vh;
  margin-left: 3vh;
}

/* ======== Main Nav ======= */

.nav-main-menu {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 5vh;
  float: right;
  list-style: none;
  margin-top: 10px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: -40px;
  margin-right: 20px;
  height: 50px;
}

.main-nav li {
  display: inline-block;
  float: right;
  margin-left: 40px;
  height: 20px;
  width: auto;
  font-weight: bold;
  font-size: 110%;
  background-color: #a6b37d;
  border-radius: 5px;
  padding: 0.6vh;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #0d1642;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #0d1642;
}

/* ======== Add New Plan ======================================== */
.add-new-form {
  width: 80%;
  height: auto;
  margin: auto;
}

.form-group {
  margin-bottom: 25px;
}

.form-label {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 100%;
  font-weight: bold;
  padding-top: 0.1em;
  padding-right: 0.25em;
  width: 80%;
  text-align: left;
  float: left;
}

/* .form-group2>input{
    height: 100px;
  } */

input {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 100%;
}

textarea {
  border: none;
}

.add-newform-h2 {
  margin-top: -35px;
}

.add-newform-h2::after {
  background-color: #0d1642;
  margin-top: 5px;
}

.title-cls {
  margin-top: 10px;
}

.text-help {
  margin-top: 5px;
  color: red;
}
.addnewplan-btn {
  margin-top: 0;
}

.list-group {
  width: 100%;
  height: auto;
}

.ex-plans {
  height: auto;
  padding-bottom: 10px;
}

.list-group-item {
  list-style: square inside;
  margin: 10px auto;
  background: white;
  /* border-style: inset; */
  width: 50%;
  height: auto;
  text-align: left;
  padding: 7px 5px;
  font-size: 120%;
}

.list-group-item > a {
  text-decoration: none;
}
.addnewplan-cancel-btn {
  background-color: #b52f3d;
}

.planview {
  clear: left;
  width: 80%;
  height: auto;
  float: center;
  margin-left: 7.5%;
}

.planview-buttons {
  float: center;
  text-align: center;
  margin-left: 2.5vw;
}

.plan-title {
  margin-bottom: 20px;
  margin-top: 50px;
  padding-top: 2px;
  width: 106.2%;
  background-color: whiteSmoke;
  min-height: 10vh;
}

.plan-dest p,
.plan-feedback p,
.plan-pack p,
.plan-notes p {
  margin-top: -10px;
  margin-bottom: 10px;
}

.plan-dest,
.plan-feedback {
  text-align: left;
  min-height: 10vh;
  height: auto;
  background-color: white;
}

.plan-dest {
  position: relative;
  margin: auto;
  width: 75%;
  text-align: center;
  margin-top: -10px;
}

.plan-feedback {
  position: relative;
  width: 100%;
  margin: auto;
  height: auto;
  top: 28vh;
  text-align: center;
}

.plan-pack,
.plan-notes {
  position: relative;
  text-align: left;
  min-height: 10vh;
  max-height: 40vh;
  width: 52%;
  background-color: white;
  overflow: scroll;
}

.plan-pack {
  position: relative;
  float: left;
}

.plan-notes {
  position: relative;
  float: right;
  margin-right: -50px;
}

.planview a {
  text-decoration: none;
}
.planview-btn {
  text-decoration: none;
}

.updateplan-form-h2 {
  width: 100%;
  height: auto;
}

td,
th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}

td:first-of-type,
td:first-of-type > div {
  height: 200px;
  width: 250px;
}

.weather-forecast {
  width: 70%;
  height: auto;
}

.packinglist-ul > li {
  list-style: none;
  margin-left: 5px;
}

.weather {
  margin-top: 10vh;
}

.weather > h2 {
  height: auto;
}

.weather > h2::after {
  background-color: black;
}
.weather-form {
  width: 70%;
  height: auto;
  margin: auto;
}

.weather-form > h4 {
}
.weather-form > input {
  margin-top: 10px;
}
.weather-display {
  height: auto;
  margin-top: 10px;
}

/* ======== SMALL TAB TO IPADS IN PORTRAIT MODE(0-1023px) ======= */
@media only screen and (max-width: 1023px) {
  .main-nav {
    float: right;
    list-style: none;
    margin-top: -40px;
    margin-right: 20px;
    height: 70px;
  }
}

.input-group {
  margin-top: 40px;
}

.searchbar {
  margin-top: 40px;
}

/* ======== BIGGER PHONES & SMALL TABLETS-IPAD(0-767px) ======= */
@media only screen and (max-width: 767px) {
  .logoImage1 {
    height: 50px;
    width: auto;
    margin-left: 1vh;
  }
  .main-nav {
    margin-right: 1vh;
    height: 50px;
  }
  .main-nav li {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 100%;
  }
  .add-newform-h2 {
    margin-top: -20px;
  }
}
/* ======== SMALL PHONES(0-480px) ======= */
@media only screen and (max-width: 480px) {
  .main-nav {
    margin-right: 0.4vh;
  }
  .main-nav li {
    margin-left: 15px;
    margin-right: 0;
    font-size: 100%;
  }
  .add-newform-h2 {
    margin-top: -15px;
  }
}
